<li class="list-item item npc-item rollable" data-item="{{item._id}}" data-item-id="{{item._id}}">
    <div class="item-header">
        <div class="item-icon rollable" style="background-image: url({{item.img}})"></div>
        <div class="item-name rollable">
            <h4 class="{{item.data.traits.rarity.value}}"><a>{{item.name}}</a></h4>
        </div>
        <div class="item-quantity">{{item.data.quantity.value}}</div>
        <div class="item-controls controls">
            <a class="item-chat chat" title="{{localize "PF2E.NPC.SendToChat"}}"><i class="fas fa-comment-alt"></i></a>
            {{#if editable}}
                {{#if user.isGM}}
                    {{#if item.isIdentified}}
                        <a class="item-toggle-identified identified" title="{{localize "PF2E.identification.Mystify"}}"><i class="far fa-question-circle"></i></a>
                    {{else}}
                        <a class="item-toggle-identified" title="{{localize "PF2E.identification.Identify"}}"><i class="fas fa-question-circle"></i></a>
                    {{/if}}
                {{/if}}
                <a class="item-toggle-equip{{#if item.data.equipped.value}} active{{/if}}" title="{{localize "PF2E.ui.armorEquipped"}}"><i class="fas fa-tshirt"></i></a>
                <a class="item-edit edit" title="{{localize "PF2E.NPC.Edit"}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete delete" title="{{localize "PF2E.NPC.Remove"}}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>
    <div class="item-body">
        <div class="item-detail sub-section expandable">
            <div class="item-description">
                {{{enrichHTML item.data.description.value}}}
            </div>
            <div class="traits-list">
                {{#each item.traits as |trait traitIndex|}}
                    <div class="tag" title="{{localize trait.description}}">{{localize trait.label}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</li>
