<form class="{{cssClass}}" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <section class="header-details">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}"/>
      </h1>

      <div class="traits">
        {{#each traits as |trait|}}
            <span data-trait="{{trait.value}}" title="{{trait.description}}">{{localize trait.label}}</span>
        {{/each}}
      </div>
    </section>
  </header>

  <!-- BODY -->
  <section class="sheet-content">
    <div class="container">
      <div class="master">
          <h2>Master</h2>
          <label for="{{data._id}}-master"><b>Master Actor</b></label>
          <select id="{{data._id}}-master" name="data.master.id">
              {{#select master.id}}
                  <option value="">Select a master...</option>
                  {{#each masters as |eligible idx|}}
                      <option value="{{eligible.id}}">{{eligible.name}}</option>
                  {{/each}}
              {{/select}}
          </select>
          {{#if data.master.id}}
              <div><b>Master Level</b> {{data.details.level.value}}</div>

              <div>
                  <label for="{{data._id}}-spellcasting-ability"><b>Master Spellcasting Ability</b></label>
                  <select id="{{data._id}}-spellcasting-ability" name="data.master.ability">
                      {{#select data.master.ability}}
                          {{#each abilities as |ability abbr|}}
                              <option value="{{abbr}}">{{localize ability}}</option>
                          {{/each}}
                      {{/select}}
                  </select>
              </div>

              <div title="{{familiarAbilities.breakdown}}">
                  <strong>Total # of Familiar Abilities</strong> {{numberFormat familiarAbilities.value decimals=0}}
              </div>
          {{/if}}
      </div>

      <div class="basic-stats">
        <h2>Familiar</h2>
        <label for="{{data._id}}-species"><b>Creature</b></label>
        <input id="{{data._id}}-species" name="data.details.creature.value" value="{{data.details.creature.value}}" placeholder="Rat, imp, leshy, etc."/>
        {{#if data.master.id}}
          <div>
            <b>Size</b>
            <span>{{localize size}}</span>
          </div>
          <div title="{{data.attributes.perception.breakdown}}" data-perception-check>
            <b>Perception</b>
            <span>{{numberFormat data.attributes.perception.value decimals=0 sign=true}}</span>
          </div>
          <div>
            <b>Senses</b>
            <span class="tags">
              {{#each data.traits.senses as |sense idx|}}
                <span class="tag">{{localize sense.label}}{{#if sense.acuity}} ({{sense.acuity}}){{/if}}{{#if sense.value}} {{sense.value}}{{/if}}</span>
              {{/each}}
            </span>
          </div>
          <div>
            <b>Speed</b>
            <span class="tags">
              {{#each data.attributes.speed.otherSpeeds}}
                <span class="tag" title="{{this.breakdown}}">{{localize this.label}} {{this.total}}</span>
              {{/each}}
            </span>
          </div>
        {{/if}}
      </div>

      {{#if data.master.id}}
      <div class="defense">
        <h2>Defenses</h2>
        <label for="{{data._id}}-hit-points"><b>Hit Points</b></label>
        <input id="{{data._id}}-hit-points" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}"/>
        <span>/</span>
        <span title="{{data.attributes.hp.breakdown}}">{{data.attributes.hp.max}}</span>
        <div title="{{data.attributes.ac.breakdown}}">
          <b>Armor Class</b>
          <span>{{numberFormat data.attributes.ac.value decimals=0 sign=false}}</span>
        </div>
        {{#each data.saves}}
        <div title="{{this.breakdown}}" data-saving-throw="{{@key}}">
          <b>{{localize this.name}}</b>
          <span>{{numberFormat this.value decimals=0 sign=true}}</span>
        </div>
        {{/each}}
      </div>

      <div class="offense" title="{{data.attack.breakdown}}" data-attack-roll>
        <h2>Offenses</h2>
        <b>Attack Roll</b>
        <span>{{numberFormat data.attack.value decimals=0 sign=true}}</span>
      </div>

      <div class="skills">
          <h2>Skills</h2>
          <div class="skill-list">
              {{#each data.skills}}
                  <div class="skill-item" title="{{this.breakdown}}" data-skill-check="{{@key}}">
                      <b>{{localize this.name}}</b>
                      <span>{{numberFormat this.value decimals=0 sign=true}}</span>
                  </div>
              {{/each}}
          </div>
      </div>

      <div class="conditions">
        <h2>{{localize 'PF2E.ConditionsLabel'}}</h2>
        <ol class="item-list">
          {{#each items as |item idx|}}
            {{#if (eq item.type 'condition')}}
            <li class="item expandable" data-item-id="{{item._id}}">
              <div class="item-name">
                <div class="item-image" style="background-image: url({{item.img}})">
                  <i class="fas fa-comment-alt"></i>
                </div>
                <h4>{{item.name}}</h4>
                {{#if ../owner}}
                <div class="item-controls">
                  <a class="item-control item-delete" title="{{localize PF2E.DeleteItemTitle}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </div>
              <div class="item-summary">{{{enrichHTML item.data.description.value}}}</div>
            </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>

      <div class="effects">
        <h2>{{localize 'PF2E.EffectsLabel'}}</h2>
        <ol class="item-list">
          {{#each items as |item idx|}}
            {{#if (eq item.type 'effect')}}
            <li class="item expandable" data-item-id="{{item._id}}">
              <div class="item-name">
                <div class="item-image" style="background-image: url({{item.img}})">
                  <i class="fas fa-comment-alt"></i>
                </div>
                <h4>{{item.name}}</h4>
                {{#if ../owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" title="{{localize 'PF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="{{localize PF2E.DeleteItemTitle}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
              </div>
              <div class="item-summary">{{{enrichHTML item.data.description.value}}}</div>
            </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </div>
    {{/if}}
  </section>
</form>
