.identify-popup {
    min-width: 300px;
}

section.sheet-body {
    .item-mystification.active {
        .unidentified {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            > * {
                display: flex;
            }

            img {
                height: 40px;
                width: 40px;
            }
            input {
                margin-left: 4px;
                width: 50%;
            }

            .editor {
                height: auto;
                min-height: 100px;
                margin: 4px auto;
                min-width: 100%;
            }
            .tox.tox-tinymce {
                min-height: 200px;
            }
        }
    }
}
